.product__card{
    display:flex;
    gap: 1rem;
    flex-direction: column;
   
}


.product__card .product__title {
    color: var(--primary-color);
    font-size: 1rem;
}
.product__money .price{
    font-weight: 600;
    color: var(--primary-color);
}

.product__money {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.product_circle{
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    color:#fff;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

@media (max-width:1080px){
    .product__img{
       
        margin: auto;
    }
}